{% extends 'base.html.twig' %}

{% block content %}
<h1 class="title">Mon profil  -  {{ user.score }}<i style="color:gold" class="fa-solid fa-trophy"></i></h1>
<p style="margin-left: 50px;color:#02589F">
    Vous jouez à sudoRivals depuis {{ intervalleDate(user.created_at)}}
</p>
<section class="section-update">
    <form action="{{ route('app_profil') }}" method="post">
        <div>
            <label for="pseudo">pseudo</label>
            <input type="text" id="pseudo" name="pseudo" required autocomplete="off" value="{{ user.pseudo }}">
        </div>
        <div>
            <label for="email">email</label>
            <input type="email" id="email" name="email" required autocomplete="off" value="{{ user.email }}">
        </div>
        <button><i class="fa-solid fa-floppy-disk"></i></button>
    </form>
</section>
<section class="section-profil">
    <div class="list-amis">
        <div class="box-btn">
            <button id="btn-amis">Mes Amis</button>
            <button id="btn-classement-mondial">Classement Mondial</button>
            <button id="btn-classement-amis">Classement Amis</button>
        </div>
        <div id="box-amis" class="box-amis active">
            {% if amis %}
                {% for ami in amis %}
                    <div class="box">
                        <table>
                        <tr>
                            <td>{{ ami.pseudo }}</td>
                            <td>{{ ami.score }} <i style="color:gold" class="fa-solid fa-trophy"></i></td>
                            <td>depuis {{ intervalleDate(ami.date) }}</td>
                        </tr>
                        </table>
                    </div>
                {% endfor %}
            {% else %}
                <p>Vous n'avez aucun ami pour le moment.</p>
            {% endif %}
        </div>
        <div id="classement-mondial" class="box-amis">
            {% for key, score in scores %}
                <div class="box classement-box">
                    <table>
                        <tr>
                            <td>{{ (key + 1)|number_format }}{{ (key == 0) ? 'er' : 'ème' }}</td>
                            <td>{{ score.pseudo }}{{ (score.pseudo == app.session.get('pseudo')) ? ' <i class="fa-solid fa-star"></i>' : '' }}</td>
                            <td>{{ (score.score is null) ? '0' : score.score }} <i style="color:gold" class="fa-solid fa-trophy"></i></td>
                        </tr>
                    </table>
                </div>
            {% endfor %}
        </div>
        <div id="classement-amis" class="box-amis">
            {% if scores_amis is not empty %}
                {% for key, score in scores_amis %}
                    <div class="box classement-box">
                        <table>
                            <tr>
                                <td>{{ (key + 1)|number_format }}{{ (key == 0) ? 'er' : 'ème' }}</td>
                                <td>{{ score.pseudo }}{{ (score.pseudo == app.session.get('pseudo')) ? ' <i class="fa-solid fa-star"></i>' : '' }}</td>
                                <td>{{ (score.score is null) ? '0' : score.score }} <i style="color:gold" class="fa-solid fa-trophy"></i></td>
                            </tr>
                        </table>
                    </div>
                {% endfor %}
            {% else %}
                <p>Vous n'avez aucun ami pour le moment.</p>
            {% endif %}
        </div>
    </div>
    <div id="chart">
        <h2>Mes stats :</h2>
    </div>
</section>
<a style="float: right; color:red;margin-right:10vw;" href="{{ route('app_delete_user') }}">Supprimer mon compte <i class="fa-solid fa-trash"></i></a>

<script>
var options = {
        series: [{{nbWin}}, {{nbLose}}, {{nbInProgress}}],
        chart: {
        width: 380,
        type: 'pie',
    },
    labels: ['gagné', 'perdu', 'en cours'],
    responsive: [{
        breakpoint: 480,
        options: {
            chart: {
            width: 300
            },
            legend: {
            position: 'bottom'
            }
        }
    }]
};

var chart = new ApexCharts(document.querySelector("#chart"), options);
chart.render();

$('#btn-amis').click(function () {
    $('#classement-amis').removeClass('active')
    $('#classement-mondial').removeClass('active')
    $('#box-amis').addClass('active')
})

$('#btn-classement-amis').click(function () {
    $('#box-amis').removeClass('active')
    $('#classement-mondial').removeClass('active')
    $('#classement-amis').addClass('active')
})

$('#btn-classement-mondial').click(function () {
    $('#classement-amis').removeClass('active')
    $('#box-amis').removeClass('active')
    $('#classement-mondial').addClass('active')
})
</script>
{% endblock %}